<ion-header>
  <ion-navbar>
    <ion-title>
     Weather Ionic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <!-- <ion-list>
     <ion-item *ngFor="let user of users">
       {{ user.email }}
     </ion-item>
   </ion-list> -->
   <ion-list>
     <ion-item>
       <ion-input placeholder="City Name" [(ngModel)]="cityname"></ion-input>
     </ion-item>
   </ion-list>
   <button ion-button block (click)="getdata()" >Show Weather</button>
<br>
   <ion-card>
     <ion-item-divider color="light">
      Location Details
     </ion-item-divider>
     <img src="https://maps.googleapis.com/maps/api/staticmap?center={{cityname}}&size=600x300"/>
     <ion-item> City: {{ weatherInfo.name }} </ion-item>
     <ion-item *ngIf="weatherInfo.sys" > City: {{ weatherInfo.sys.country }} </ion-item>
     <ion-item *ngIf="weatherInfo.coord"> Coordinates : {{ weatherInfo.coord.lon }}, {{ weatherInfo.coord.lat }} </ion-item>
   </ion-card>

   <ion-card >
    <ion-item-divider color="light">
     Weather Details
    </ion-item-divider>
    <ion-item *ngIf="weatherInfo.main"> temperature : {{ weatherInfo.main.temp }} <i class="fa fa-keyboard-o" aria-hidden="true"></i> </ion-item>
    <ion-item *ngIf="weatherInfo.main" > Pressure : {{ weatherInfo.main.pressure}} </ion-item>
    <ion-item *ngIf="weatherInfo.main"> Humidity : {{ weatherInfo.main.humidity }}% </ion-item>
  </ion-card>

  <ion-card >
    <ion-item-divider color="light">
     Wind Details
    </ion-item-divider>
    <ion-item *ngIf="weatherInfo.wind"> Speed : {{ weatherInfo.wind.speed }} </ion-item>
    <ion-item *ngIf="weatherInfo.wind" > Angle : {{ weatherInfo.wind.deg}} deg </ion-item>
    
  </ion-card>


</ion-content>
